<h1>Show de un artista en particular</h1>

<h1><%= @artist.name %></h1>

<p>Albums! </p>
<ul>
  <% @artist.albums.each do |album| %>
    <li><%= album.name %></li>
    <img src="<%= album.image_url %>" alt="">
    <li><%= album.released_at %></li>
  <% end %>
</ul>